$gap-sm: 10px;
$gap-md: 24px;

.main-container {
    display: flex;
    flex-direction: column;
    gap: $gap-md;
    margin: auto;
    width: 50%;
    max-width: 500px;
    padding-top: $gap-md;
    padding-bottom: $gap-md;
}

.subscription {
    display: flex;
    flex-direction: column;
    gap: $gap-sm;
}

@media screen and (max-width: 900px) {
    .main-container {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    .main-container {
        width: 90%;
    }
}

.market-data {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &-container {
        display: flex;
        padding: $gap-md;
    }

    & .box {
        border: 1px solid #333;
        border-radius: 5px;
    }

    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33%;

        label {
            font-size: 14px;
            color: gray;
            margin-bottom: 5px;
        }

        span {
            font-weight: 600;
        }
    }
}

.historical-toggle .toggle-label {
    font-size: 16px;
    margin-left: $gap-sm;
    font-weight: 500;
}

.hidden {
    display: none;
}

.diagram-container {
    padding-bottom: $gap-md;
}

.historic-settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
}